.master-ielts {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.master-ielts__image {
  z-index: 12;
}

.master-ielts__image img {
  position: absolute;
  height: 100%;
  top: 40%;
  left: 50%;
  transform-origin: top left;
  transform: scale(1.2) translateX(-50%) translateY(-50%);
}

.master-ielts__content {
  width: 80%;
  margin: 80px auto auto auto;
  color: white;
}


.master-ielts__title {
  font-size: 160px;
  font-weight: bold;
  font-family: NORWESTER;
  @media (max-width: 1200px) {
    text-align: center;
    font-size: 120px;
  }

}

.master-ielts__subtitle {
  font-size: 21px;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-family: PLAY_REGULAR;
}

.master-ielts__description {
  width: 150px;
  margin-top: 30px;
  font-size: 14px;
  font-family: PLAY_REGULAR;
}

.master-ielts__content__call {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 20px;
  left: 50%;
  margin-top: 150px;
  transform: translateX(-50%);
  z-index: 1111;
  text-align: center;
}

.master-ielts__extra-text {
  display: flex;
  align-items: center;
  font-size: 17px;
  color: #111;
}

.master-ielts__hide-name {
  display: none;
  font-family: PLAY_REGULAR;
}

@media (min-width: 1024px) {
  .master-ielts__content__call {
    margin-top: 90px;
  }
}

@media (max-width: 991px) {
  .master-ielts__content {
    margin-top: 60px;
  }
  .master-ielts__title {
    font-size: 110px;
  }
  .master-ielts__subtitle {
    font-size: 17px;
  }
  .master-ielts__image img {
    top: 50%;
  }
  .master-ielts__description {
    font-size: 9px;
    margin-top: 10px;
  }
  .master-ielts__content__call {
    display: block;
    margin-top: 30px;
    align-items: start;
  }
  .master-ielts__content__text {
    position: relative;
    right: 80px;
  }
  .master-ielts__content__call .custom-button img {
    width: 150px;
  }
}


@media (max-width: 768px) {
  .master-ielts__hide-name {
    display: block;
    position: absolute;
    top: 20px;
    text-align: center;
    letter-spacing: 10px;
    word-spacing: 15px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .master-ielts__subtitle {
    width: 80px;
    position: absolute;
    top: -80px;
    font-size: 12px;
    left: 75px;
    transform: rotate(-90deg);
  }
  .master-ielts__title {
    font-size: 110px;
    font-weight: 900;
  }
  .master-ielts__description {
    width: 140px;
    font-size: 0.8rem;
    margin-top: 0;
  }
  .master-ielts__content__text {
    position: relative;
    right: 65px;
  }
  .master-ielts__content__call {
    margin-top: 70px;

    .master-ielts__extra-text {
      font-size: 13px;
    }
  }
  .master-ielts__image img {
    top: 55%;
  }
}


@media (max-width: 576px) {
  .master-ielts__title {
    font-size: 100px;
  }
  .master-ielts__subtitle{
    left: 25%;
  }
  .master-ielts__description {
    font-size: 0.6rem;
    width: 100px;
    margin-left: 15%;
    margin-top: 10px;
  }
  .master-ielts__content__call {
    margin-top: 70px;
    flex-direction: column-reverse;
  }
  .master-ielts__extra-text {
    font-size: 10px;
  }
  .master-ielts__title {
    font-size: 90px;
  }
  .master-ielts__subtitle{
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .master-ielts__subtitle{
    transform: rotate(0deg);
    top: 25px;
    left: 40px;
    font-family: PLAY_REGULAR;
  }
}
@media (max-width: 380px) {
  .master-ielts__description {
    font-size: 8px;
  }
}
