//main-info-page.vue

.master-ielts {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}


.master-ielts__image img {
  position: absolute;
  height: 100%;
  top: 45%;
  left: 50%;
  transform-origin: top left;
  transform: scale(1.4) translateX(-50%) translateY(-50%);
  z-index: 12;

}

.master-ielts__content {
  width: fit-content;
  color: white;
  position: relative;
  left: 100px;
  @media (max-width: 1400px) {
    left: 20px;
  }
  @media (max-width: 1200px) {
    left: 60px;
  }
  @media (max-width: 991px) {
    top: 110px;
    left: 40px;
  }
  @media (max-width: 768px) {
    top: 0;
    left: 70px;
  }
}


.master-ielts__title {
  margin-top: 50px;
  font-size: 200px;
  text-align: center;
  color: white;
  font-family: NORWESTER;
  @media (max-width: 1200px) {
    font-size: 150px;
  }
}

.master-ielts__subtitle {
  font-size: 31px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: NORWESTER;
}

.master-ielts__description {
  width: 150px;
  margin-top: 10px;
  font-size: 14px;
  font-family: PLAY-REGULAR;
}

.master-ielts__content__call {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 20px;
  left: 50%;
  top: 60%;
  transform: translateX(-50%);
  z-index: 1111;
  text-align: center;
  @media (max-width: 1600px) {
    margin-top: 0;
  }

  &__img {
    position: absolute;
    filter: blur(40px);
    left: 80px;
  }
}

.master-ielts__extra-text {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #111;
  position: relative;
  z-index: 11;
  font-family: GothamProMedium;
}

.master-ielts__hide-name {
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
  letter-spacing: 40px;
  word-spacing: 15px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: PLAY-BOLD;
}
.master-ielts__content__call__btn {
  pointer-events: auto;
}
@media (max-width: 991px) {
  .master-ielts__title {
    margin-top: 50px;
    font-size: 110px;
  }
  .master-ielts__subtitle {
    font-size: 22px;
  }

  .master-ielts__description {
    font-size: 12px;
    margin-top: 10px;
  }
  .master-ielts__content__call {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 100px;
    align-items: start;

    &__img {
      top: 0;
      filter: blur(40px);
      left: 0;
    }

    &__btn {
      margin: 0 auto;
    }
  }
  .master-ielts__image img {
    top: 55%;
  }
  .master-ielts__content__call .custom-button img {
    width: 150px;
  }
  .master-ielts__hide-name {
    top: 25px;
    letter-spacing: 30px;
    word-spacing: 10px;
  }
}


@media (max-width: 767px) {
  .master-ielts__hide-name {
    position: absolute;
    width: 100%;
    top: 50px;
    letter-spacing: 15px;
    text-transform: uppercase;
    color: white;
  }
  .master-ielts__subtitle {
    width: 80px;
    position: absolute;
    top: -80px;
    font-size: 12px;
    left: 75px;
    transform: rotate(-90deg);
  }
  .master-ielts__title {
    margin-top: 75px;
    font-size: 110px;
    line-height: 0.9;
  }
  .master-ielts__description {
    width: 150px;
    font-size: 0.8rem;
    margin-top: 0;
  }
  .master-ielts__content__text {
    position: relative;
    right: 65px;
  }
  .master-ielts__extra-text {
    font-size: 13px;
  }
  .master-ielts__image img {
    height: 80%;
    top: 55%;
  }
  .master-ielts__content__call__img {
    top: -50px;
    filter: blur(20px);
  }
}


@media (max-width: 576px) {
  .master-ielts__title {
    font-size: 110px;
  }
  .master-ielts__subtitle {
    font-size: 10px;
    left: 30%;
  }
  .master-ielts__description {
    font-size: 0.6rem;
    width: 100px;
    margin-left: 50px;
  }
  .master-ielts__content__call {
    margin-top: 110px;
    display: flex;
    gap: 5px;
    flex-direction: column-reverse;

    &__img {
      top: -20px;
      left: 0;
    }
  }
  .master-ielts__extra-text {
    font-size: 12px;
  }
  .master-ielts__subtitle {
    left: 50px;

  }
  .master-ielts__content__call .custom-button {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .master-ielts__subtitle {
    left: 50px;
    top: -85px;
    font-size: 8px;
  }
  .master-ielts__hide-name {
    letter-spacing: 10px;
    font-weight: 500;
  }
}

@media (max-width: 460px) {
  .master-ielts__subtitle {
    top: -75px;
    left: 35px;
  }
}

@media (max-width: 430px) {
  .master-ielts__image img {
    top: 50%;
    transform: scale(1.2) translate(-50%, -50%);
  }
  .master-ielts__title {
    margin-top: 75px;
    font-size: 90px;
  }
  .master-ielts__hide-name {
    top: 50px;
  }
  .master-ielts__content__call {
    margin-top: 50px;
  }
  .master-ielts__extra-text {
    font-size: 11px;
  }
  .master-ielts__subtitle {
    left: 40px;
  }
}

@media (max-width: 400px) {
  .master-ielts__description {
    margin-left: 25px;
  }
  .master-ielts__subtitle {
    top: -70px;
    left: 25px;
  }
}

@media (max-width: 370px) {
  .master-ielts__subtitle {
    left: 20px;
  }
}

@media (max-width: 360px) {
  .master-ielts__subtitle {
    left: 10px;
  }
  .master-ielts__description {
    margin-left: 15px;
  }
}

//about-course.vue

.about-ielts {
  width: 100%;
  background-image: url('/public/images/book.webp');
  background-size: cover;
  background-position: top center;
  position: relative;
  top: -40px;
  border-radius: 16px;
  @media (max-width: 768px) {
    background-image: url("/public/images/bloknot.webp");
    top: -40px;
  }

  &__content {
    display: none;
    position: relative;
    z-index: 11;
    @media (max-width: 768px) {
      display: block;
      padding: 10px;
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    font-family: GothamProBlack;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      font-size: 25px;
    }

    span {
      color: #9D84FD;
    }
  }

  &__courses {
    width: 100%;
    display: flex;
    padding: 40px;
    @media (max-width: 1200px) {
      padding: 30px;
    }
    @media (max-width: 991px) {
      gap: 50px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }

  .course-list {
    width: 45%;
    height: fit-content;
    padding: 30px 20px;
    position: sticky;
    z-index: 2;
    margin-top: 25px;
    @media (max-width: 991px) {
      padding: 20px 0 0 0;
    }

    &__item {
      &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: GothamProMedium;

        &__info {
          display: flex;
          flex-direction: column;
          height: fit-content;
          margin-bottom: 10px;
          width: 60%;
          @media (max-width: 768px) {
            width: 100%;
            justify-content: center;
            padding: 20px;
          }
          @media (max-width: 576px) {
            justify-content: center;
            padding: 0;
          }
        }
      }
    }

    &__item-title {
      width: fit-content;
      background-color: #714FFB;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 5px 20px;
      font-size: 14px;
      font-family: SEGOEPRINT;
      @media (max-width: 991px) {
        font-size: 12px;
        padding: 5px 15px;
      }
      @media (max-width: 768px) {
        margin: 10px auto;
        font-size: 20px;
        font-family: PLAY-BOLD;

      }
    }

    &__item-description {
      height: fit-content;
      padding: 5px;
      font-size: 14px;
      border: 3px solid #714FFB;
      border-right: none;
      border-radius: 7px;
      border-top: none;
      font-family: SEGOEPRINT;
      clip-path: polygon(0% 10%, 100% -100%, 100% 97%, 0 100%);
      @media (max-width: 991px) {
        font-size: 11px;
        clip-path: polygon(0% 10%, 100% -65%, 100% 97%, 0 100%);
      }
      @media (max-width: 768px) {
        font-family: GothamProMedium;
        font-size: 18px;
        border-top: none;
        clip-path: polygon(0% 0, 100% -4%, 100% 97.5%, 0 100%);
      }
    }

  }

  &__footer-btn {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    @media (max-width: 576px) {
      bottom: -20px;
      .custom-button img {
        width: 120px;
      }
    }
  }
}

.course-list__item-image {
  width: 39%;
  margin-bottom: auto;
}

.course-list__item-image img {
  width: 100%;
  height: 100%;
}

.course-list-right {
  width: 45%;
  padding: 30px;
  position: sticky;
  z-index: 2;
  margin-top: 25px;
  margin-left: auto;
  @media (max-width: 991px) {
    margin-left: 0;
    padding: 20px 0 0 0;
  }

  &__items {
    margin-bottom: 30px;
  }

  &__footer {
    display: flex;
    justify-content: center;
  }
}

.course-list-left {
  margin-bottom: 20px;
}

.course-list-left:nth-child(even) {
  .course-list__item__content {
    display: flex;
    flex-direction: row-reverse;
  }

  .course-list__item-description {
    border-left: none;
    border-right: 2px solid #714FFB;
  }
}

.course-list-right__items:nth-child(odd) {
  .course-list__item__content {
    display: flex;
    flex-direction: row;
  }

  .course-list__item-description {
    border-left: none;
    border-right: 2px solid #714FFB;
  }
}

.course-list-right__items:nth-child(even) {
  .course-list__item__content {
    display: flex;
    flex-direction: row-reverse;
  }
}

.swiper-pagination-bullets {
  margin-bottom: 20px !important;
}

//about-education.vue


.about-education-main {

  &__img {
    width: fit-content;
    margin: 0 auto;

    img {
      width: 800px;
      @media (max-width: 991px) {
        width: 500px;
      }
      @media (max-width: 768px) {
        width: 400px;
      }
      @media (max-width: 576px) {
        width: 300px;
      }
    }
  }
}

.about-education-box {
  position: relative;
  bottom: 0;
  left: 0;
  height: fit-content;
  @media (max-width: 991px) {
    top: 170px;
  }
  @media (max-width: 768px) {
    top: 120px;
  }
  @media (max-width: 576px) {
    top: 50px;
  }
}

.about-education {
  @media (max-width: 576px) {
    padding: 20px;
  }

  &__content {
    &__footer-img {
      width: 500px;
      position: absolute;
      bottom: 160px;
      right: 50%;
      z-index: 55;
      transform: translateX(50%);
      @media (max-width: 991px) {
        width: 400px;
      }
      @media (max-width: 768px) {
        width: 300px;
        bottom: 80px;
      }
      @media (max-width: 576px) {
        width: 50%;
        bottom: 100px;
      }
    }
  }
}

.about-education-title {
  width: 70%;
  margin: 30px auto 0 auto;
  text-align: center;
  font-family: GothamProMedium;
  color: white;
  @media (max-width: 768px) {
    width: 90%;
    font-size: 14px;
  }
  @media (max-width: 576px) {
    font-size: 13px;

  }
}

.about-education-header {
  margin-bottom: 30px;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  gap: 10px;
  position: relative;
  border-radius: 16px;
  @media (max-width: 576px) {
    gap: 5px;
  }

  &::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 21;
    height: 300px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(11, 9, 9, 0));
    @media (min-width: 1200px) {
      width: 92%;
      margin: 0 auto;
      border-radius: 16px;
    }
  }

  &::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 175px;
    height: 300px;
    z-index: 21;
    pointer-events: none;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(11, 9, 9, 0));
    @media (min-width: 1200px) {
      width: 92%;
      margin: 0 auto;
      border-radius: 16px;
    }
    @media (max-width: 768px) {
      bottom: 90px;
    }
    @media (max-width: 576px) {
      bottom: 120px;
    }
  }
}

.grid-container__column div {
  width: 100%;
  border-radius: 16px;
  height: 350px;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    height: 250px;
  }
  @media (max-width: 576px) {
    width: 100%;
    height: 150px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    @media (max-width: 991px) {
      border-radius: 12px;
    }
    @media (max-width: 767px) {
      object-fit: cover;
    }
    @media (max-width: 576px) {
      width: 85px;
      border-radius: 4px;
    }
  }
}

.grid-container a {
  pointer-events: auto;
}

.grid-container__column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.grid-container__column:nth-child(odd) {
  height: 1430px;
  overflow: hidden;

  @media (max-width: 768px) {
    height: 820px;
    gap: 5px;
  }
  @media (max-width: 576px) {
    height: 600px;
  }
}

.grid-container__column:nth-child(even) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1605px;
  top: -175px;
  position: relative;

  @media (max-width: 768px) {
    gap: 5px;
    height: 910px;
    top: -95px;
  }
  @media (max-width: 576px) {
    top: -120px;
    height: 720px;
  }
}

.grid-container__column:nth-child(5) {
  @media (max-width: 768px) {
    display: none;
  }
}


//about-mentors.vue


.mentors-section {
  width: 100%;
  padding: 100px;
  background-image: url("/public/images/mentor-back.png");
  color: white;
  position: relative;
  top: -20px;

  &__header-btn {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__content {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  &__information {
    width: 65%;
    display: flex;

    &__info-text {
      position: sticky;
      z-index: 2;
      line-height: 1;
      font-size: 48px;
      margin-top: 15px;
      font-family: GothamProBlack;
      text-align: start;
      font-weight: 800;
      @media (max-width: 1200px) {
        font-size: 38px;
      }
      @media (max-width: 991px) {
        font-size: 30px;
      }
    }

    &__info-text-italic {
      font-size: 45px;
      letter-spacing: 2px;
      word-spacing: 15px;
      font-family: OFONT_RU_LAINYDAY;
      position: sticky;
      z-index: 1;
      @media (max-width: 991px) {
        font-size: 40px;
      }
      @media (max-width: 768px) {
        font-size: 32px;
      }
      @media (max-width: 576px) {
        font-size: 30px;
        word-spacing: 10px;
      }
    }

    &__btn {
      display: inline-flex;
      border: 1px solid #fff;
      padding: 15px 20px;
      align-items: center;
      justify-content: center;
      gap: 5px;
      border-radius: 4px;
      font-size: 18px;
      text-transform: uppercase;
      cursor: pointer;
      position: relative;
      z-index: 20;
      margin-top: 15px;
      font-family: GothamProMedium;
      @media (max-width: 991px) {
        padding: 8px 15px;
        font-size: 15px;
      }
      @media (max-width: 576px) {
        font-size: 11px;
        padding: 5px 10px;
      }

      i {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__text {
        font-family: OFONT_RU_LAINYDAY;
        font-size: 52px;
        text-align: end;
        @media (max-width: 1200px) {
          font-size: 40px;
        }
        @media (max-width: 768px) {
          text-align: center;
        }
        @media (max-width: 576px) {
          font-size: 33px;
          text-align: center;
        }
      }

      &__eagle-image {
        width: 500px;
        position: absolute;
        top: 120px;
        left: 42%;
        transform: translateX(-42%);

        @media (max-width: 1200px) {
          width: 400px;
        }
        @media (max-width: 991px) {
          width: 300px;
        }
        @media (max-width: 768px) {
          width: 350px;
          transform: translateX(-5%);
        }
        @media (max-width: 576px) {
          width: 55%;
          left: 50%;
        }

      }
    }

    &__img {
      width: 350px;
      @media (max-width: 1200px) {
        width: 250px;
      }
      @media (max-width: 576px) {
        width: 70%;
      }
    }
  }

  &__view {
    width: 35%;
  }

}

.mentors-header {
  &__title {
    font-weight: 800;
    font-size: 60px;
    font-family: GothamProBlack;
    @media (max-width: 1200px) {
      font-size: 45px;
    }
    @media (max-width: 991px) {
      font-size: 33px;
    }
    @media (max-width: 768px) {
      font-size: 25px;
    }
  }
}

.mentors-list {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns:  160px 160px;
  justify-content: center;
  margin-top: 20px;

  &__item {
    padding: 5px 15px;

    &__image {
      width: 100%;
      border-radius: 10px;
      margin-bottom: 10px;
      object-position: top;
      object-fit: contain;
    }
  }
}

.mentors-about__name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 991px) {
  .mentors-section {
    padding: 50px;
  }
  .mentors-list {
    grid-template-columns: 120px 120px;
  }
}

@media (max-width: 768px) {
  .mentors-section {
    padding: 20px;
  }
  .mentors-section__content {
    flex-direction: column;
  }
  .mentors-section__information, .mentors-section__view {
    width: 100%;
    display: block;
    padding: 10px 30px;
  }
  .mentors-list {
    grid-template-columns: 30% 30% 30%;
    gap: 10px;

    &__item {
      padding: 0;
    }
  }
  .mentors-list__item__image {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mentors-list {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 32% 32% 32%;
    gap: 10px;
    padding: 0;
  }
}

.footer {
  color: white;
  padding: 30px;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}

//footer.vue
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.footer__logo {
  width: 30%;
  @media (max-width: 768px) {
    display: none;
  }
}

.footer__logo img {
  width: 100%;
}

.footer__nav {
  display: flex;
  width: calc(70% - 20px);
  justify-content: space-evenly;
  @media (max-width: 991px) {
    gap: 15px;
    justify-content: right;
  }
  @media (max-width: 768px) {
    width: 100%;
    justify-content: start;
  }

  &__title {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: Arial;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }

  &__list {
    font-size: 14px;
    @media (max-width: 576px) {
      font-size: 12px;
    }

    li {
      padding: 5px;
    }

    a {
      color: #fff;
    }
  }
}

.footer__hours {
  li {
    padding: 5px;
    font-size: 15px;
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  a {
    color: #fff;
  }
}

.footer__address {
  &__title {
    margin-bottom: 10px;
    font-size: 18px;
    font-family: Arial;
    @media (max-width: 576px) {
      font-size: 15px;
    }
  }

  &__region {
    padding: 5px;
    font-size: 15px;
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  a {
    padding: 5px;
    color: #fff;

    i {
      font-size: 25px;
      color: #B444EE;
      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
}

.footer__social {
  margin-top: 20px;
}

//info-for-ielts.vue

.section {
  background-image: url('/public/images/+111.webp');
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 16px;
  position: relative;
  z-index: 2;
}

.section__header-btn {
  position: absolute;
  bottom: -30px;
  left: 50%;
  z-index: 32;
  transform: translateX(-50%);
  @media (max-width: 576px) {
    bottom: -20px;
  }
}

.section__content {
  overflow: hidden;
}

.section__content__header {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  font-family: GothamProBlack;
  @media (max-width: 991px) {
    gap: 10px;
  }
  @media (max-width: 576px) {
    justify-content: space-around;
    gap: 5px;
  }
}

.section__content__infos {
  display: flex;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.section__content__header__title {
  text-align: center;
  font-size: 36px;
  font-family: GothamProBlack;
  color: #424242;
  margin-top: 30px;

  &__icon {
    width: 200px;

    @media (max-width: 578px) {
      width: 40%;
    }
  }

  @media (max-width: 991px) {
    font-size: 24px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (max-width: 576px) {
    font-size: 18px;
  }
  @media (max-width: 450px) {
    font-size: 15px;
  }
  @media (max-width: 400px) {
    margin-top: 10px;
    font-size: 12px;
  }
}

.section__content__infos__text {
  width: 40%;
  font-size: 18px;
  margin-left: auto;

  @media (max-width: 991px) {
    font-size: 14px;
  }
  @media (max-width: 768px) {
    margin: 0 auto 50px auto;
    width: 80%;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 576px) {
    width: 90%;
  }

}

.section__content__infos__image {
  width: 50%;
  height: 400px;
  position: relative;
  z-index: 2;
  pointer-events: auto;

  a {
    cursor: pointer;
  }

  @media (max-width: 991px) {
    height: 300px;
  }
  @media (max-width: 768px) {
    height: 250px;
  }
  @media (max-width: 450px) {
  height: 150px;
  }
  img {
    width: 550px;
    border-radius: 16px;
    z-index: 155;
    position: relative;
    top: -85px;
    left: 190px;
    @media (max-width: 1401px) {
      top: -80px;
      left: 95px;
    }
    @media (max-width: 1200px) {
      left: 5px;
    }
    @media (max-width: 991px) {
      width: 400px;
      left: 20px;
    }
    @media (max-width: 768px) {
      width: 450px;
      left: -90px;
      top: -70px;
      border-radius: 8px;
    }
    @media (max-width: 576px) {
      width: 400px;
      top: -70px;
      border-radius: 8px;
    }
    @media (max-width: 450px) {
      left: -30px;
      width: 300px;
    }
    @media (max-width: 400px) {
      top: -40px;
      left: -30px;
      width: 250px;
    }
  }

  &__back {
    position: absolute;
    width: 400px;
    border-radius: 20px;
    top: 0;
    left: 300px;
    z-index: -2;
    transform: rotate(65deg);
    height: 450px;
    background: #fff;
    @media (max-width: 1400px) {
      left: 200px;
    }
    @media (max-width: 1200px) {
      width: 370px;
      left: 120px;
    }
    @media (max-width: 991px) {
      width: 300px;
      height: 250px;
      left: 80px;
      top: -10px;
      transform: rotate(-30deg);

    }
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.info-list {
  list-style: none;
}

.info-list__item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px auto;
  font-family: SEGOEPRINT;
  @media (max-width: 768px) {
    font-family: PLAY-BOLD;
  }
  @media (max-width: 576px) {
    font-size: 14px;
  }

  i {
    color: #0C21AE;
  }
}

.info-list__highlight {
  position: relative;
  @media (max-width: 576px) {
    font-size: 14px;
  }
}

.info-list__highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background-color: #8e44ad;
  border-radius: 15px;
  clip-path: polygon(0 80%, 100% 54%, 100% 120%, 0% 100%);
  transform: translateY(4px);
}
